* {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

body {
    margin: 50px 50px 0px 50px;
}

h1{
    margin-left:20px;
}

nav > input {
    margin-left:15px;
    border-color: red;
    border-radius: 10px;
    height: 30px;
}
nav > #txtField{
    width: 400px;
}
nav > #btnAdd {
    background-color: #FCBACB;
    width: 50px;
    color: red;
    font-weight: bold;
}

#btnAdd:hover {
    color: white;
    background-color: red;
}

main > div {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: #808080 1px 1px 2px 2px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width:100%;
    display:inline-block;
}
.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.nav-grid-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 10px;
}
#btnRemove {
    margin: 0 0 0 auto;
    margin-right: 50px;
    color: red;
    text-decoration: underline;
}

.clickable:hover{
    cursor:pointer;
}